<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "/css/banners.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

  <!-- UCSF Banner Here -->
  <div class="w3-top">
    <div id="ucsf-banner-nav" class="no-logo">
      <div class="top-header-container row">
          <ul class="menu">
            <li class="first"><a href="http://www.ucsf.edu">University of California San Francisco</a></li>
            <li><a href="http://www.ucsfhealth.org/">UCSF Medical Center</a></li>
            <li><a href="http://www.ucsf.edu/search" title="">Search UCSF</a></li>
            <li><a href="http://www.ucsf.edu/about">About UCSF</a></li>
          </ul>
      </div>
    </div>

<!-- w3-content defines a container for fixed size centered content,
    and is wrapped around the whole page content, except for the footer in this example -->
<!--ONE OPTION FOR A HEADER
  <div class="w3-content" style="max-width:1400px">
    <header class="w3-container w3-white w3-center w3-padding-32">
      <h1><b>Lab Name</b></h1>
      <p>Welcome to the lab of <span class="w3-tag">someone</span></p>
    </header>-->

    <!-- Navbar (sit on top) to the right-->
    <div class="w3-navbar">
      <div class="w3-bar w3-white w3-card-3" id="myNavbar">
        <a href="/" class="w3-bar-item w3-button w3-wide">UCSF Sandler Fellows Program</a>
        <div class="w3-right w3-hide-small">
          <a href="/" class="w3-bar-item w3-button">About the Program</a>
          <a href="{{ site.baseurl }}/current" class="w3-bar-item w3-button">Current Fellows</a>
          <a href="{{ site.baseurl }}/former" class="w3-bar-item w3-button">Former Fellows</a>
          <a href="{{ site.baseurl }}/nomination" class="w3-bar-item w3-button">Nomination Process</a>
          <a href="{{ site.baseurl }}/news" class="w3-bar-item w3-button">News</a>
          <a href="{{ site.baseurl }}/other" class="w3-bar-item w3-button">Other Programs</a>
        </div>
        <!-- Hide right-floated links on small screens and replace them with a menu icon-->
        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
  </div>

    <!-- Sidebar on small screens when clicking the menu icon-->
    <nav class="w3-sidebar w3-bar-block w3-black w3-card-2 w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
      <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close &times;</a>
      <a href="/" onclick="w3_close()" class="w3-bar-item w3-button">HOME</a>
      <a href="{{ site.baseurl }}/people" onclick="w3_close()" class="w3-bar-item w3-button">PEOPLE</a>
      <a href="{{ site.baseurl }}/research" onclick="w3_close()" class="w3-bar-item w3-button">RESEARCH</a>
      <a href="{{ site.baseurl }}/publications" onclick="w3_close()" class="w3-bar-item w3-button">PUBLICATIONS</a>
      <a href="{{ site.baseurl }}/contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
    </nav>

    <!-- Page content -->
    <div class="w3-content" style="max-width:1000px;margin-top:46px">

    {{ content }}

    <!-- Footer -->
    <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
      <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </footer>

   </div>
  </div>
  <!--SCRIPTS HERE -->

  <!-- Add Google Maps -->
  <script>
  function myMap()
  {
    myCenter=new google.maps.LatLng(41.878114, -87.629798);
    var mapOptions= {
      center:myCenter,
      zoom:12, scrollwheel: false, draggable: false,
      mapTypeId:google.maps.MapTypeId.ROADMAP
    };
    var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);

    var marker = new google.maps.Marker({
      position: myCenter,
    });
    marker.setMap(map);
  }

  // Modal Image Gallery
  function onClick(element) {
    document.getElementById("img01").src = element.src;
    document.getElementById("modal01").style.display = "block";
    var captionText = document.getElementById("caption");
    captionText.innerHTML = element.alt;
  }


  // Toggle between showing and hiding the sidebar when clicking the menu icon
  var mySidebar = document.getElementById("mySidebar");

  function w3_open() {
      if (mySidebar.style.display === 'block') {
          mySidebar.style.display = 'none';
      } else {
          mySidebar.style.display = 'block';
      }
  }

  // Close the sidebar with the close button
  function w3_close() {
      mySidebar.style.display = "none";
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
  <!--
  To use this code on your website, get a free API key from Google.
  Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
  -->
  <!--END SCRIPTS--> <!--SCRIPTS HERE -->

 <!-- Add Google Maps -->
 <script>
 function myMap()
 {
   myCenter=new google.maps.LatLng(41.878114, -87.629798);
   var mapOptions= {
     center:myCenter,
     zoom:12, scrollwheel: false, draggable: false,
     mapTypeId:google.maps.MapTypeId.ROADMAP
   };
   var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);

   var marker = new google.maps.Marker({
     position: myCenter,
   });
   marker.setMap(map);
 }

 // Modal Image Gallery
 function onClick(element) {
   document.getElementById("img01").src = element.src;
   document.getElementById("modal01").style.display = "block";
   var captionText = document.getElementById("caption");
   captionText.innerHTML = element.alt;
 }


 // Toggle between showing and hiding the sidebar when clicking the menu icon
 var mySidebar = document.getElementById("mySidebar");

 function w3_open() {
     if (mySidebar.style.display === 'block') {
         mySidebar.style.display = 'none';
     } else {
         mySidebar.style.display = 'block';
     }
 }

 // Close the sidebar with the close button
 function w3_close() {
     mySidebar.style.display = "none";
 }
 </script>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
 <!--
 To use this code on your website, get a free API key from Google.
 Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
 -->
 <!--END SCRIPTS-->

</body>
</html>
